
/* Layout CSS Grid */



main > div.new {
	grid-area:new;
	align-self:center;
	text-align:center;
}

main > div.playerP1 {
	grid-area:player1;
	align-self:center;
	text-align:center;
}

main > div.globalP1 {
	grid-area:globalP1;
	align-self:center;
}

main > div.roundP1 {
	grid-area:roundP1;
	align-self:center;
	text-align:center;
}

main > div.dice {
	grid-area:dice;
	align-self:center;
	text-align:center;
}

main > div.playerP2 {
	grid-area:player2;
	align-self:center;
	text-align:center;
}

main > div.globalP2 {
	grid-area:globalP2;
	align-self:center;
}

main > div.roundP2 {
	grid-area:roundP2;
	align-self:center;
	text-align:center;
}

main > div.roll {
	grid-area:roll;
	align-self:center;
	text-align:center;
}

main > div.hold {
	grid-area:hold;
	align-self:center;
	text-align:center;
}

main {
	
	display:grid;
	
	width:100vw;
	height:100vh;
	
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	
	grid-template-areas:
		"new new new"
		"player1 dice player2"
		"globalP1 dice globalP2"
		"roundP1 roll roundP2"
		"roundP1 hold roundP2";
	
}

/* Fix Input scores */

main input.score {
	margin:auto;
	background-color:transparent;
	text-align:center;
	color:#ef473a;
	font-size:36pt;
	height:42pt;
}

/* Fix "card" */

main div.card {
	margin:auto;
	width:50%;
	height:200px;
	background-color:#ef473a;
}

/* Fix Input current */

main input.current {
	margin:auto;
	background-color:transparent;
	text-align:center;
	color:white;
	font-size:24pt;
	height:36pt;
	width:100%;
}

/* Canvas : Dice */

main canvas.dice {
	border:1px solid black;
}

/* Ne pas afficher le témoin à côté de PLAYER */

div.playerP1 h1 i, div.playerP2 h1 i {
	display:none;
}


